<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Admin Dashboard</title>
	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">
</head>
<body id="page-top">

	<!-- Page Content -->
	<h1>Restaurent Menu</h1>
	<hr>
	<form method="post">
				
		<table border="1">
			<tr>
				<td>Name</td>
				<td>Action</td>
			</tr>

			<% for(var i=0; i < userList.length; i++){ %>

			<tr>
				<td><%= userList[i].menuName %></td>
				<td><a href="/admin/menuDetails/<%= userList[i].menuid %>">Details</a></td>
			</tr>
			
			<% } %>
		</table>	<br><br><br><br><br>
			<a href="/admin/availableRestaurant">Back</a>
	</form>
	<!--<a href="/customer" ><input type="submit" name="Back" value="Back" ></a>-->
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

</body>

</html>
