<!DOCTYPE html>
<html>
    <head>
        <title>Member Registration</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <div class="h4">
			<b style="float: left;">Registration Page</b>
			<b style="float: right;"> <a class="back" href="/">back</a></b>
        </div><br><br>
        <div class="form">
            <form method="post">
                Name :<br> <input class="space" type="text" name="name" placeholder="Enter Name" > <br>
                Username :<br> <input class="space" type="text" name="username" placeholder="Enter Username"> <br>
                Password : <br><input class="space" type="password" name="password" placeholder="Enter Password"><br>
				Mobile no : <br><input class="space" type="text" name="contact" placeholder="Enter Mobile no"><br>
                Email : <br><input class="space" type="email" name="email" placeholder="Enter Email"><br>
                Address :<br> <input class="space" type="text" name="address" placeholder="Enter Address"><br>
				<input id="submit" type="submit" name="update" value="Register" >
            </form>
        </div>  
    </body>
</html>